.widget-layout-list {
	list-style: disc
}

.widget-layout-list li{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
}

#orgchart-userrole-list{
	margin-top: 0px !important;
}

.orgchart-edit-member{
}

.orgchart-edit-member:hover{
	
}


#orgchart-sort-role .ui-sortable-handle {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    cursor: move;
    margin: 0.4em;
    min-height: 1.5em;
    padding: 0.4em 0.9em;
}

.orgchart {
	overflow: auto;
}